.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* This is what I used to import the poppins font from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


/* Global selectors */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* The UL container CSS */
.navLinks {
    list-style: none;
}

/* The about section container */
aside {
    display: flex;
    align-items: center;
    height: 200px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    background: gray;
    border: solid;
}

/* The header for the aside */
.asideHeader {
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    background: gray;
}

/* All of the CSS for the About Section Image */
#profilePic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0px 0px;
    border-style: solid;
    margin-left: 1%;
}

/* The paragraph CSS for the About section */
#asideP {
    font-size: 20px;
    margin-top: 5px;
    background: gray;
}

/* Projects CSS */
.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* Each project card */
.card {
    flex-grow: 4;
}
